$brandBlue: #4A54BD;
$brandDarkGrey: #444;
$brandLightGrey: #f5f5f5;
$brandOrange: #DC9227;
$brandPurple: #5C5AA7;

@import "partials/normalize.min";
@import "partials/main";
@import "partials/structure";
@import "partials/hero";
@import "partials/typography";
@import "partials/flexboxgrid.min";
@import "partials/hamburgers";
@import "partials/base";
@import "partials/nav";
@import "partials/header";
@import "partials/form";
@import "partials/spacing";
@import "partials/accordion";
@import "partials/headshots";
@import "partials/buttons";
@import "partials/images";
@import "partials/slick-theme";